<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1 style="font-weight: 300;">
    Order Tracking
  </h1>
  <img width="300" alt="Angular Logo" src="https://botlist.co/images/placeholder/BotList-icon-color.jpg">
</div>
<div class="input-group offset-3 col-6">
  <input type="text" class="form-control" placeholder="What's on your mind?" aria-label="What's on your mind?" aria-describedby="basic-addon2">
  <div class="input-group-append">
    <span style="background-color:#1787FB; color:white" class="input-group-text" id="basic-addon2">Send</span>
  </div>
</div>
